$primaerGroen: rgb(30, 210, 120);
$lysOrange: rgba(250, 145, 70, 1);
$midnatsBlaa: rgb(20, 40, 45);
$blaaGroen: rgb(50, 90, 90);
$stoevetBlaaGroen: rgb(110, 150, 145);
$stoevetMintGroen: rgb(225, 245, 240);
$testFont: "Roboto", sans-serif;
.reset {
  margin: 0;
  padding: 0;
}
.hide {
  opacity: 0;
  pointer-events: none;
}
@import "overview";
body {
  @extend.reset;
  main {
    #baggrund {
      position: absolute;
      width: 100vw;
      height: 100vh;
    }
    @extend .reset;
    width: 100vw;
    height: 100vh;
    #startButton {
      position: relative;
      width: 19vw;
      height: 10vh;
      background-color: black;
      top: 89%;
      left: 40vw;
      transition: 0.3s;
      cursor: pointer;
      &:hover {
        background-color: lightgray;
        transform: scale(1.05);
      }
    }
    #optionModal {
      position: absolute;
      background-color: rgba($color: #000000, $alpha: 0.5);
      top: 0;
      left: 0;
      width: 100vw;
      height: 100vh;

      transition: 0.3s;
      #modalSample {
        position: relative;
        top: 5vw;
        left: 20vw;
        width: 60vw;
        height: 40vw;
        background-color: black;
        display: grid;
        grid-template-columns: 1fr 1fr;
        .option {
          width: 90%;
          height: 90%;
          margin: auto;
          .headline {
            text-align: center;
            font-family: $testFont;
          }
          .description1 {
            font-family: $testFont;
            width: 95%;
            margin: auto;
            margin-bottom: 4vw;
          }
          .description2 {
            font-family: $testFont;
            width: 95%;
            margin: auto;
          }
          .readMore {
            font-family: $testFont;
            margin-left: 2vw;
          }
          .selectOption {
            margin: auto;
            position: relative;
            bottom: -5vw;
            left: 0vw;
            width: 15vw;
            height: 2vw;
            background-color: $lysOrange;
            border-radius: 2vw;
            cursor: pointer;
            transition: 0.3s;
            &:hover {
              transform: scale(1.05);
            }
            .optionP {
              @extend .reset;
              text-align: center;
              transform: translateY(0.5vw);
              font-family: $testFont;
              font-weight: bold;
            }
          }
        }
        #optionA {
          background-color: $stoevetMintGroen;
        }
        #optionB {
          background-color: $stoevetBlaaGroen;
        }
      }
    }
  }
}
